@model IEnumerable<_13556_egzamin.Models.Lista>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NrIndeksu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ocena)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Przedmiot)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NrIndeksu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ocena)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Przedmiot)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
